<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TYPO3 Clear Cache Popup</title>

		<link type="text/css" rel="stylesheet" href="popup.css">

		<script type="text/javascript" src="libs/jquery.min.js"></script>
		<script type="text/javascript" src="libs/handlebars.js"></script>
		<script type="text/javascript" src="popup.js"></script>
	</head>
	<body>
		<div id="typo3_clearcache"></div>

		<script id="template-401" type="text/x-handlebars">
			<b>TYPO3 Clear Cache</b><br>
			Please login to TYPO3 backend.
			<a href="{{ typo3cache.url }}" target="_blank" class="approved action-look">Go to TYPO3 login</a>
		</script>

		<script id="template-200" type="text/x-handlebars">
			{{{ typo3cache.content }}}
		</script>

		<script id="template-404" type="text/x-handlebars">
			<b>No TYPO3 found.</b><br>

			{{#if subfolder}}
				<a href="#" class="action">Still no TYPO3 found (/{{subfolder}})</a>
			{{else}}
				<a href="#" class="action">TYPO3 is located in subfolder...</a>
			{{/if}}
			<div class="action">
				<form>
					<label>Enter subfolder name. Inside of given path the /typo3 folder is expected.</label>

					{{#if subfolder}}
						<input type="text" name="subfolder" placeholder="sub/subfolder e.g." value="{{ subfolder }}" />
						<button type="submit">Update</button>
					{{else}}
						<input type="text" name="subfolder" placeholder="sub/subfolder e.g." />
						<button type="submit">Add</button>
					{{/if}}
				</form>
			</div>
		</script>

		<script id="template-loading" type="text/x-handlebars">
			Loading...
		</script>
	</body>
</html>
