#typo3_clearcache {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #555;

	min-width: 250px;
}

#typo3_clearcache img {
	max-width: 24px;
}

#typo3_clearcache span.icon, #typo3_clearcache span.t3-icon {
	vertical-align: -webkit-baseline-middle;
}

#typo3_clearcache ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#typo3_clearcache li {
	padding: 0;
}
#typo3_clearcache li a {
	padding: 7px 0;
	display: block;
}

#typo3_clearcache li a br, #typo3_clearcache li a small {
	display: none;
}
#typo3_clearcache li:hover {
	background: #ddd;
	cursor: pointer;
}
#typo3_clearcache li:hover a {
	color: #444;
}

#typo3_clearcache a {
	color: #555;
	text-decoration: none;
}

#typo3_clearcache .action, #typo3_clearcache .action-look {
	border-top: 1px solid #ddd;
	margin-top: 25px;
	display: block;
}

#typo3_clearcache a.action, #typo3_clearcache a.action-look {
	font-size: 11px;
	color: #aaa;
	padding-top: 8px;

	text-align: right;
	text-decoration: underline;
}
#typo3_clearcache a.action:hover, #typo3_clearcache a.action-look:hover {
	color: #777;
}

#typo3_clearcache div.action, #typo3_clearcache div.action-look {
	font-size: 12px;
	display: none;
	padding: 10px 5px;
}

#typo3_clearcache div.action label, #typo3_clearcache div.action-look label {
	display: block;
	margin-bottom: 12px;
}

.t3-icon {
	display: inline-block;
	width: 21px;
	height: 16px;
	vertical-align: baseline !important;
	background-position-x: 5px;
	background-repeat: no-repeat;
}
.t3-icon-system-cache-clear-impact-low { background-image: url('images/flash-green.png'); }
.t3-icon-system-cache-clear-impact-medium { background-image: url('images/flash-yellow.png'); }
.t3-icon-system-cache-clear-impact-high { background-image: url('images/flash-orange.png'); }



/*#typo3_clearcache {*/

/*}*/

/*#typo3_clearcache ul {*/
	/*padding: 0;*/
	/*margin: 0;*/
	/*list-style: none;*/
/*}*/

/*#typo3_clearcache ul li a {*/
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*line-height: 12px;*/
	/*text-decoration: none;*/
	/*color: #212424;*/
	/*display: block;*/
	/*width: 205px;*/
	/*padding: 3px 6px;*/
	/*margin-bottom: 1px;*/
/*}*/

/*#typo3_clearcache ul li a:hover, #typo3_clearcache ul li a.active {*/
	/*border: 1px solid #ccc;*/
	/*background: #eee;*/
	/*padding: 2px 5px;*/
/*}*/

/*#typo3_clearcache ul li a img {*/
	/*vertical-align: middle;*/
/*}*/

/*#typo3_clearcache ul li a span.image {*/
	/*width: 24px;*/
	/*display: inline-block;*/
/*}*/

/*#typo3_clearcache ul li a span {*/
	/*line-height: 20px;*/
/*}*/

/*#typo3_clearcache ul li.refresh {*/
	/*margin-top: 5px;*/
	/*border-top: 1px solid #ccc;*/
	/*padding: 8px 0 0;*/
	/*display: block;*/
/*}*/

/*#typo3_clearcache ul li.refresh label {*/
	/*display: block;*/
/*}*/

/*#typo3_clearcache ul li.refresh label span {*/
	/*padding-left: 8px;*/
	/*color: #444;*/
/*}*/

/*#typo3_clearcache ul li.refresh label input {*/
	/*margin-left: 7px;*/
/*}*/

/*#typo3_clearcache ul li.refresh label span, #typo3_clearcache ul li.refresh label input {*/
	/*vertical-align: middle;*/
/*}*/



/*#typo3_clearcache .installationRequired, #typo3_clearcache .loginRequired {*/
	/*width: 290px;*/
	/*font-family: 'Segoe UI', Tahoma, sans-serif;*/
	/*font-size: 13px;*/
	/*line-height: 17px;*/
	/*color: #444;*/
	/*background: url('/images/icon32.png') no-repeat left top;*/
	/*padding-left: 44px;*/
/*}*/

/*#typo3_clearcache .error {*/
	/*background: url('/images/error.png') no-repeat left top;*/
/*}*/

/*#typo3_clearcache .error .code {*/
	/*margin-top: 5px;*/
	/*color: #c34649;*/
	/*font-family: 'Lucida Console', 'Courier New', monospace;*/
	/*font-size: 11px;*/
/*}*/

/*#typo3_clearcache .installationRequired a, #typo3_clearcache .loginRequired a {*/
	/*display: block;*/
	/*padding: 7px 0 9px 14px;*/
	/*margin-left: 4px;*/
	/*background: url('images/linkbullet.png') no-repeat left center;*/
	/*color: #15C;*/
	/*font-size: 11px;*/
/*}*/

/*#typo3_clearcache .installationRequired b, #typo3_clearcache .loginRequired b {*/
	/*display: block;*/
	/*padding-bottom: 5px;*/
/*}*/
